{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>{{ number|number_format }}</h1>
    <p>is roughly equivalent to...</p>
  </div>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        {% for result in results|sort %}
          <tr>
            <td class="text-right">{{ result.hint ? "<strong>"|raw }}{{ result.number }}{{ result.hint ? "</strong>"|raw }}</td>
            <td>{{ result.hint ? "<strong>"|raw }}{{ result.description }}{{ result.hint ? "</strong>"|raw }}{{ result.source ? " <sup><a href='#{result.source}'>[source]</a></sup>"|raw}}</td>
          </tr>
        {% else %}
          <tr>
            <td>Nothing like it!</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  

  <a type="button" class="btn btn-lg btn-default" href="https://github.com/tkn/roughlyequivalent"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
</div>

{% endblock %}
